#Compiled Object Files, Static and Dynamic Libs
*.o
*.a
*.so

#Folders
_obj
_test

#Architecture specific Extensions/prefixes
_testmain.go

*.exe
*.test
*.prof

#Dont commit the exe file
lensLock.com.exe
package.json